In [2]:
import pandas as pd

df = pd.read_csv("output/transformed_product.csv")
df.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price_value,discount_price_currency,actual_price_value,actual_price_currency,discount_amount,discount_percent,rating_category,has_discount,has_rating,has_image,completeness_score
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,Appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255.0,32999.0,₹,58990.0,₹,25991.0,44.06,Very Good,True,True,True,100.0
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,Appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948.0,46490.0,₹,75990.0,₹,29500.0,38.82,Very Good,True,True,True,100.0
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,Appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206.0,34490.0,₹,61990.0,₹,27500.0,44.36,Very Good,True,True,True,100.0
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,Appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69.0,37990.0,₹,68990.0,₹,31000.0,44.93,Very Good,True,True,True,100.0
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,Appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630.0,34490.0,₹,67790.0,₹,33300.0,49.12,Very Good,True,True,True,100.0

In [3]:
df = pd.read_csv("output/transformed_requitment.csv")
df.head()

,Unnamed: 0,company,company_rating,location,job_title,job_description,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,date,time,timezone,salary_min,salary_max,salary_avg,salary_currency,salary_type
0,0,PCS Global Tech\n4.7,4.7,"Riverside, CA",Data Engineer | PAID BOOTCAMP,Responsibilities\n· Analyze and organize raw d...,501 to 1000 Employees,Company - Private,Information Technology,Information Technology Support Services,NaN,Unknown / Non-Applicable,2024-06-12,00:00:00,Asia/Jakarta,70000.0,70000.0,70000.0,USD,unknown
1,1,Futuretech Consultants LLC,NaN,"Newton, MS",Snowflake Data Engineer,My name is Dileep and I am a recruiter at Futu...,Unknown,Unknown,Unknown,Unknown,NaN,Unknown,2024-06-12,00:00:00,Asia/Jakarta,42.5,42.5,42.5,USD,hourly
2,2,Clairvoyant\n4.4,4.4,Remote,Data Engineer (MDM),Required Skills:\nMust have 5-8+ Years of expe...,51 to 200 Employees,Company - Private,Pharmaceutical & Biotechnology,Biotech & Pharmaceuticals,NaN,Unknown / Non-Applicable,2024-06-12,00:00:00,Asia/Jakarta,67.5,67.5,67.5,USD,hourly
3,3,Apple\n4.2,4.2,"Cupertino, CA",Data Engineer,"Summary\nPosted: Dec 22, 2021\nWeekly Hours: 4...",10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1976.0,$10+ billion (USD),2024-06-12,00:00:00,Asia/Jakarta,NaN,NaN,NaN,USD,unknown
4,4,Skytech Consultancy Services\n5.0,5.0,"Baltimore, MD",Data Engineer,Description of Work:\nTechnical experience in ...,1 to 50 Employees,Company - Public,Unknown,Unknown,NaN,Unknown / Non-Applicable,2024-06-12,00:00:00,Asia/Jakarta,65.0,65.0,65.0,USD,hourly